.parentClass>h1{
    margin-left: 20px;
}
table{
    width: 100%;
    color: aliceblue;
}
.firTab{
    background-color: rgb(61, 111, 61);
}
.l1{
    list-style-type: none;
}
img{
    width: 200px;
    height: 200px;
}
h3{
    color:black;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}